body{
    font-size: 21px;
    background-color: rgb(226, 230, 231);
    height: 100%;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


  footer {
      position: fixed;
      bottom: 0;
      background-color: white;
      width: 100%;
      
  }


 footer img {
    display: block;
    margin: auto;
    width: 20%;
  }

  footer p{
      color: rgba(134, 134, 134, 0.603);
      font-size: 0.5rem;
      text-align: center;
      text-transform: uppercase;
  }